body{
    background-color: #080311;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
html, #root{
      width: 100%;
  height: 100%;
  margin: 0;
}
.light-rays {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}
.shiny-text {
  position: fixed;
  top: clamp(0.75rem, 2vw, 1.5rem);
  left: clamp(0.75rem, 2vw, 1.5rem);

  font-size: clamp(1.25rem, 2vw + 0.5rem, 4rem);
  line-height: 1;
  z-index: 20;
  color: white;

  pointer-events: auto;
}

